@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-dark">Detalhes</h1>

<div>
    <h4 class="text-primary">Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary text-white" style="text-decoration: none !important; border: none; background: #593196;" asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Index" class="text-primary" style="margin-top: 5px !important;text-decoration: none !important;"><i class='bx bx-arrow-back'></i> Voltar</a>
</div>
